{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the Orion Blog! Here we'll be talking about computer science. Basic frameworks, machine learning, new tech and more.</p>
            <p>Go visit us at <a href="https://www.youtube.com/channel/UCjKXKqx6-RjJYQts8wKy_SQ?view_as=subscriber">The Tech Untitled</a> to checkout video content.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}